{% extends 'zapatillas/index.html' %}

{% block contenido%}

{% load static %}

    <h2>Carrito de Compras</h2>
    <ul id="carrito-elementos">
        {% for elemento in elementos %}
            <li id="elemento-{{ elemento.id }}">
                <img src="{{ elemento.zapato.imagen.url }}" alt="{{ elemento.zapato.nombre }}" style="width: 250px;">
                {{ elemento.zapato.nombre }} - ${{ elemento.zapato.precio }} x <span class="cantidad">{{ elemento.cantidad }}</span> = <span class="precio_total">${{ elemento.precio_total }}</span>
                <button class="btn-actualizar" data-id="{{ elemento.id }}" data-action="incrementar">+</button>
                <button class="btn-actualizar" data-id="{{ elemento.id }}" data-action="decrementar">-</button>
                <button class="btn-eliminar" data-id="{{ elemento.id }}">Eliminar</button>
            </li>
        {% endfor %}
    </ul>
    <h3>Total: $<span id="carrito-total">{{ carrito.total }}</span></h3>
    <li class="nav-item"><a class="btn btn-white btn-style" href="{% url 'home' %}">Seguir Comprando</a></li>

{% endblock %}
