{% extends 'zapatillas/index.html' %}

{% block contenido%}



{% load static %}


    <div class="container">
        <h1>{{ zapato.nombre }}</h1>
        <div class="row">
            <div class="col-md-6">
                {% if zapato.imagen %}
                    <img src="{{ zapato.imagen.url }}" class="img-fluid" alt="{{ zapato.nombre }}">
                {% else %}
                    <img src="{% static 'images/default.jpg' %}" class="img-fluid" alt="Imagen no disponible">
                {% endif %}
            </div>
            <div class="col-md-6">
                <p><strong>Marca:</strong> {{ zapato.get_marca_display }}</p>
                <p><strong>Descripción:</strong> {{ zapato.descripcion }}</p>
                <p><strong>Precio:</strong> ${{ zapato.precio }}</p>
                <a href="{% url 'home' %}" class="btn-ver-style btn ">Volver</a>
                <form method="post" action="{% url 'añadir_al_carrito' %}">
                    {% csrf_token %}
                    <input type="hidden" name="zapato_id" value="{{ zapato.id }}">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" min="1" value="1">
                    <button type="submit" class="btn btn-style">Añadir al Carrito</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}