{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patagonia Kicks</title>

    <link rel="stylesheet" href="{% static 'zapatillas/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'zapatillas/css/bootstrap.min.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary p-3 col-xl-12 col-lg-12 col-md-3 col-sm-3 col-xs-1 mb-5">
        <div>
            <a class="navbar-brand" href="{% url 'home' %}">Patagonia Kicks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 div-nav-style">
            <li class="nav-item">
              <a class="btn btn-dark btn-ver-style" aria-current="page" href="{% url 'zapatos_por_marca' 1 %}">Adidas</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-dark btn-ver-style nike" aria-current="page" href="{% url 'zapatos_por_marca' 3 %}">Nike</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-dark btn-ver-style newBalance" aria-current="page" href="{% url 'zapatos_por_marca' 2 %}">Converse</a>
            </li>
          </ul>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-carrito-sesion">
              <li class="nav-item cart-position">
                
              </li>
              <li class="nav-item"><a class="btn btn-white btn-style" href="{% url 'ver_carrito' %}">Carrito</a></li>
              <li class="btn btn-white btn-style btn-sesion"><a class="nav-link active" aria-current="page" href="./login.html">Sesión</a></li>

            </ul>
          </div>
        </div>
    </nav>


    <form method="GET" action="{% url 'home' %}">
        <div class="input-group mb-3">
            <input type="text" class=" search-style" placeholder="Buscar zapatos..." name="q" value="{{ request.GET.q }}">
        </div>
      </form>


    <div class="container">
        <h1>Zapatos de la Marca</h1>
        <div class="row">
            {% for zapato in zapatos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if zapato.imagen %}
                            <img src="{{ zapato.imagen.url }}" class="card-img-top" alt="{{ zapato.nombre }}">
                        {% else %}
                            <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Imagen no disponible">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ zapato.nombre }}</h5>
                            <p class="card-text">{{ zapato.descripcion }}</p>
                            <p class="card-text"><strong>Precio:</strong> ${{ zapato.precio }}</p>
                            <a href="{% url 'detalle_zapato' zapato.id %}" class="btn-ver-style btn ">Ver</a>
                              <a href="#" class="btn  btn-style">Comprar</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <p>No se encontraron zapatos para esta marca.</p>
                </div>
            {% endfor %}
        </div>
    </div>




    <script src="{% static 'zapatillas/js/bootstrap.min.js'%}"></script>
</body>
</html>