{% extends 'zapatillas/index.html' %}

{% block contenido%}


{% load static %}



    <div class="container">
        <h1>Zapatos de la Marca</h1>
        <div class="row">
            {% for zapato in zapatos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if zapato.imagen %}
                            <img src="{{ zapato.imagen.url }}" class="card-img-top" alt="{{ zapato.nombre }}">
                        {% else %}
                            <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Imagen no disponible">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ zapato.nombre }}</h5>
                            <p class="card-text">{{ zapato.descripcion }}</p>
                            <p class="card-text"><strong>Precio:</strong> ${{ zapato.precio }}</p>
                            <a href="{% url 'detalle_zapato' zapato.id %}" class="btn-ver-style btn ">Ver</a>
                           
                           
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <p>No se encontraron zapatos para esta marca.</p>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}