{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" href="{% static 'zapatillas/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'zapatillas/css/bootstrap.min.css' %}">
</head>

<body class="body-login">
    <div class="loginstyle login-style">
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Registrarse</a></p>
    </div>
</body>

</html>
